* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 500px;

    margin: 0 auto;
}

.header {
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: white
}

.logo {
    height: 100%;

    width: 20%;
    float: left;
}

.logo img {
    padding-top: 10px;
    padding-left: 20px;
}

.menu {
    height: 100%;
    width: 60%;
    float: left;
}

.list-item {
    height: 100%;
    margin: 0;
    list-style-type: none;
}

.menu-item {
    width: 15%;
    float: left;
    padding-top: 35px;
    font-size: 20px;
    font-weight: 600;
}

.menu-item:hover {
    text-decoration: underline;
    color: red;
}

.btn-register {
    width: 20%;
    float: left;
    padding-top: 30px;
}

.btn-register button {
    padding: 7px 10px;
    background-color: red;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 18px
}

.content {
    width: 100%;
    float: left;
    height: auto;
    background-color: #dee2e6;
    margin-top: 100px;
}

.main-text {
    width: 60%;
    height: 100%;
    float: left;
}

.slogan {
    width: 100%;
    height: 50%;
    float: left;
}

.slogan h1 {
    padding-top: 150px;
    font-size: 64px;
    padding-left: 150px;
}

.description-text {
    float: left;
    height: 30%;
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
    margin-left: 150px;
}
.main-img {
    width: 40%;
    height: 100%;
    float: left;
}
.main-img img {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
